﻿@model CloneArmy.Web.Models.Clone

<h2>Edit one clone</h2>

@using (Html.BeginForm("Edit", "Clone"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Clone_ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());


    <div class="editor-label">@Html.LabelFor(m => m.Clone_ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Clone_ID)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Class_ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Class_ID)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Army_ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Army_ID)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Name_)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name_)</div>

    <div class="editor-label">@Html.LabelFor(m => m.NickName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.NickName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Speciality)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Speciality)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Birth_Date)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Birth_Date)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Ranks)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Ranks)</div>

    


    <input type="submit" value="SEND" />


}
