﻿@model IEnumerable<CloneArmy.Web.Models.Clone>

<h2>List of clones</h2>

@if (Model.Count()==0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().ArmyName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Name_)</th>
            <th>DataSheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.ArmyName)</td>
            <td>@Html.DisplayFor(m => item.Name_)</td>
            <td>@Html.ActionLink("[SHOW]","Details", new { id = item.Clone_ID})</td>
            <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Clone_ID })</td>
            <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Clone_ID })</td>
        </tr>
        }
    </table>
}
