﻿@model CloneArmy.Web.Models.CloneViewModel

@{
    ViewBag.Title = "Clone Index";
}

<h2>CloneIndex</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("CloneEdit", Model.EditedClone)

@Html.Partial("CloneList", Model.CloneList)
