﻿@model CloneArmy.Web.Models.Clone
@{
    ViewBag.Title = "CloneDetail";
}

<h2>Datasheet of one clone</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Clone_ID)</td>
        <td>@Html.DisplayFor(m => m.Clone_ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Class_ID)</td>
        <td>@Html.DisplayFor(m => m.Class_ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Army_ID)</td>
        <td>@Html.DisplayFor(m => m.Army_ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name_)</td>
        <td>@Html.DisplayFor(m => m.Name_)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.NickName)</td>
        <td>@Html.DisplayFor(m => m.NickName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Birth_Date)</td>
        <td>@Html.DisplayFor(m => m.Birth_Date)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Speciality)</td>
        <td>@Html.DisplayFor(m => m.Speciality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Ranks)</td>
        <td>@Html.DisplayFor(m => m.Ranks)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ClassName)</td>
        <td>@Html.DisplayFor(m => m.ClassName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ArmyName)</td>
        <td>@Html.DisplayFor(m => m.ArmyName)</td>
    </tr>
</table>

