﻿
@{
    ViewBag.Title = "Input";
}

<h2>Számold ki, mennyi kalóriát égetsz!</h2>


@if (TempData.ContainsKey("warning"))
{
    <p style="font-weight:bold;color:red">@TempData["warning"]</p>
}

    <form method="POST" action="/CalorieCounter/CalorieCount" id="calorie">
        <label>Sportoló neve:</label>
        <input type="text" name="Name" /> <br>
        <label>Sportoló súlya:</label>
        <input type="text" name="Weight" /> <br>
        <label for="exercise">Gyakorlat:</label>
        <select id="exercises" name="exercise">
            <option value="Running">Running</option>
            <option value="Yoga">Yoga</option>
            <option value="Pilates">Pilates</option>
            <option value="Hiking">Hiking</option>
            <option value="Swimming">Swimming</option>
            <option value="Bicycle">Bicycle</option>
        </select> <br>
        <label>Gyakorlat hossza (perc):</label>
        <input type="text" name="Length" /> <br>
        <input type="submit" value="Kiszámol" />
    </form>
   



