﻿@model Kaloriaszamlalo.Models.Output
@{
    ViewBag.Title = "Output";
}

<h2>Az eredmény</h2>

<p>A sportoló neve @Model.Name</p>
<p>A sportoló tömege @Model.Weight</p>
<p>Gyakorlat hossza (perc) @Model.Length</p>
<p>Elégetett kalória @Model.BurntCalorie</p>

